/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.footercontainer {
  background-color: black;
  padding-bottom: 4rem;
  /* position: absolute; */
  margin-top: auto;
  width: 100%;
}

.footer {
  position: sticky;
  top: 100%;
  height: 8vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerimg {
  width: 100px;
  height: 58px;
  margin-top: 4rem;
}

.footertext {
  margin-top: 1rem;
  font-size: smaller;
  color: dimgray;
}
