.title {
  font-size: 90px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.paragraph {
  margin-top: 0;
}

.rightimg {
  width: 83vh;
  height:50vh;
  padding-left: 100px;
}

.appcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffff;
}

.signin {
  padding-top: 20px;
  color: #868686;
}

.logoo {
  display: flex;
  align-items: center;
  justify-content: first baseline;
  width: 40%;
}

.logo {
  width: 100%;
  height: 100%;
}

/* Responsive Breakpoint */

@media screen and (max-width: 1024px) {
  .rightimg {
    width: 83vh;
    padding-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .rightimg {
    width: 83vh;
    padding-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .rightimg {
    width: 83vh;
    padding-left: 0;
  }
}

@media screen and (min-width: 1524px) {
  .rightimg {
    width: 83vh;
    padding-left: 100px;
  }
}
