.containerprofile {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}
.container35 {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 1.5vh;
  box-sizing: border-box;
}
.container40 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 1.5vh;
  padding: 1.5vh 0;
  box-sizing: border-box;
}

.profileimg {
  width: 45vw;
  height: 30vw;
  margin-bottom: 100px;
}

.logoo {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  margin-bottom: 20px;
  width: 40%;
}

.logo {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 96px;
  margin: 0;
}

.sure {
  margin-bottom: 0px;
}