.rightSimg {
  padding-left: 100px;
  width: 110vh;
  height: 80vh;
}

.appcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffff;
}

.signin {
  padding-top: 20px;
  color: #a7a7a7;
}

.logoo {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  margin-bottom: 10px;
  width: 40%;

}

.logo {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 0;
}